<footer>
    <ul>
        <li>
            <a href="https://bsky.app/profile/furcago.com"><i class="fab fa-bluesky"></i></a>
        </li>
        <li>
            <a href="https://instagram.com/furcago_meets"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://discord.gg/jCecwerpB9"><i class="fab fa-discord"></i></a>
        </li>
<!--        <li>-->
<!--            <a href="https://www.facebook.com/groups/TODO"><i class="fab fa-facebook"></i></a>-->
<!--        </li>-->
    </ul>
</footer>
