<footer class="text-center py-4 bg-white border-top">
    <ul>
        <li>
            <a href="https://bsky.app/profile/furcago.com"><i class="fab fa-bluesky"></i></a>
        </li>
        <li>
            <a href="https://t.me/+uDyHHXBtpjkwZWYx"><i class="fab fa-telegram"></i></a>
        </li>
        <li>
            <a href="https://instagram.com/furcago_meets"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
            <a href="https://discord.gg/jCecwerpB9"><i class="fab fa-discord"></i></a>
        </li>
    </ul>
    <p class="mb-0">© {{ now.Year }} Furcago. Made with 💙 in Chicago.</p>
</footer>
