<header class="site-header">
    <div class="split-container justify-content-between align-items-center px-4 py-3">
        <div class="left-half align-items-center justify-content-center">
            <a href="/" class="logo-link">
                <img src="/res/furcago_logo_1.png" alt="Furcago Logo" class="logo me-3">
                Furcago
            </a>
        </div>
        <div class="right-half right-align-container justify-content-center" style="text-align: right">
            <ul class="nav nav-links">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/faq/">FAQ</a></li>
                <li class="nav-item"><a class="nav-link" href="/code-of-conduct/">Code of Conduct</a></li>
            </ul>
        </div>
    </div>

    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</header>
