{{ define "main" }}
<section class="hero">
    <div class="container col-xxl-8 g-5">
        <div class="row align-items-center justify-content-center py-5">
            <div class="col-12 col-lg-10">
                {{ .Content }}
                <div class="d-grid gap-2 d-md-flex">
                    {{ with .Params.btn1 }}
                    {{ if and .text .url }}
                    <a role="button" href="{{ .url }}" target="_blank" class="btn btn-lg btn-primary px-4 me-md-2">{{
                        .text }}</a>
                    {{ end }}
                    {{ end }}
                    {{ with .Params.btn2 }}
                    {{ if and .text .url }}
                    <a role="button" href="{{ .url }}" target="_blank" class="btn btn-lg btn-outline-secondary px-4">{{
                        .text }}</a>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events">
    <div class="container-fluid px-3 px-md-5">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                {{ range $event := site.Data.events.events }}
                <div class="card shadow-sm mb-4 p-3">
                    <p><strong> <a href="{{ $event.slug }}" target="_blank">{{ $event.name }}</a></strong></p>
                    <p><strong>When:</strong>
                        {{ with $event.date }}
                        {{ . | time | time.Format "Monday, January 2, 2006" }}
                        {{ else }} N/A {{ end }}
                        <br/>
                        {{ with $event.startTime }}{{ . | time.Format "3:04 PM" }}{{ end }} –
                        {{ with $event.endTime }}{{ . | time.Format "3:04 PM" }}{{ end }}
                    </p>
                    <p><strong>Venue:</strong> <a href="{{ $event.venue_url }}" target="_blank">{{ $event.venue }}</a>
                    </p>
                    <p>
                        <strong>Registration: </strong><a href="{{ $event.registration_url }}" target="_blank">RSVP</a>
                    </p>
                    {{ with $event.image_url }}
                    <img src="{{ . }}" alt="Event image for {{ $event.name }}" class="img-fluid rounded mb-3">
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
