{{ define "main" }}
<section class="events py-5">
    <div class="container col-xxl-8 px-3 px-md-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">

                {{ $slug := .File.TranslationBaseName }}
                {{ $event := index (where site.Data.events.events "slug" (printf "/events/%s" $slug)) 0 }}
                {{ if ne $event.event_type "upcoming" }}
                <h2>This event has ended. We sincerely thank all who participated.</h2>
                {{ end }}
                <div class="card shadow-sm p-4">
                    <h1 class="h4 mb-3">{{ $event.event_name }}</h1>

                    <p><strong>When:</strong>
                        {{ with $event.date }}{{ . | time | time.Format "Monday, January 2, 2006" }}{{ end }},
                        {{ with $event.start_time }}{{ . | time.Format "3:04 PM" }}{{ end }} –
                        {{ with $event.end_time }}{{ . | time.Format "3:04 PM" }}{{ end }}
                    </p>

                    <p><strong>Location:</strong>
                        <a href="{{ $event.location_url | default $event.maps_link }}">{{ $event.location }}</a>
                    </p>

                    <p><strong>Venue:</strong>
                        <a href="{{ $event.venue_url }}">{{ $event.venue }}</a>
                    </p>

                    {{ if ne $event.cost "" }}
                    <p><strong>Cost:</strong> {{ $event.cost }}</p>
                    {{ end }}

                    {{ with $event.minimum_age }}
                    <p><strong>Age Rating:</strong> {{ . }}</p>
                    {{ end }}

                    {{ with $event.capacity }}
                    <p><strong>Capacity:</strong> {{ . }}</p>
                    {{ end }}

                    {{ with $event.accessibility }}
                    <p><strong>Accessibility:</strong> {{ . }}</p>
                    {{ end }}
                    {{ if eq $event.event_type "upcoming" }}
                    {{ if ne $event.registration_url "" }}
                    <p>
                        <strong>Registration: </strong><a href="{{ $event.registration_url }}" target="_blank">RSVP</a>
                    </p>
                    {{ end }}
                    {{ end }}

                    <hr/>

                    <p><strong>Details: </strong>{{ $event.event_description }}</p>

                    {{ with $event.promo_image_url }}
                    <img src="{{ . }}" alt="Event image" class="img-fluid rounded mb-4"/>
                    {{ end }}

                    {{ .Content }}
                </div>

            </div>
        </div>
    </div>
</section>
{{ end }}
